fastapi
uvicorn
sqlmodel
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
alembic
asyncpg
httpx
boto3
APScheduler==3.10.4
pytz==2024.1
requests
python-multipart